
@import "variable";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

.heading{
  font-size: 28px;
  font-weight: 700;
}
hr{
  margin-top: 0!important;
}

//=====================header section=================

.header-nav{
  display: flex;
  border-bottom: 1px solid lighten($primaryColor,40%);

  .header-brand{
    display: flex;
    width: 250px;

    i{
      color: lighten($black, 50%);
      font-size: 28px;
    }
  }

  .header-content{
    width: 100%;
  }
}

//==================sidebar===================

.main-index{
  display: flex;

  .sidebar{

    width: 250px;
    height: 100vh;
    background:$primaryColor;
    transition: all 0.3s;
    opacity: 0.9;
    z-index: 10;
    display: block;

    @media (max-width: 768px){
      position: fixed;
      display: none;
    }
    .sidebar-nav{
      padding: 0;

      .nav{
        text-align: left;

        .nav-item{

          .nav-icon{
            color: lighten($primaryColor, 30%);
            padding-right: 10px;
          }

          .nav-link{
            display: block;
            color: $white;
            text-decoration: none;
          }

          &:hover{
            background: $white;
            .nav-link{
              color: $primaryColor;
            }

            .nav-icon{
              color: $primaryColor;
            }
          }
        }
      }

      .nav-menu-item{
        display: none;
        background: darken($primaryColor , 5%);
        padding-left: 0;
        list-style: none;
      }

    }
  }

  .content{
    width: 100%;
  }
}

.sidebar-minimized{
  width: 50px !important;
  transition: all 0.3s !important;

  @media(max-width: 769px){
    width: 250px!important;
    display: block !important;
  }
}

.icon-sizing{
  font-size: 20px !important;
}

.sidebar.sidebar-minimized{

  .nav{

    .nav-menu-item{

      padding-left: 0;
      display: none !important;

      .nav-icon{
        padding-left: 25px !important;
      }
    }
    .nav-item{
      width: 280px;
      overflow: hidden;
      white-space: nowrap;

      &:hover{

        .nav-menu-item{
          width: 230px;
          display: block !important;
          position: fixed;
          left: 50px;
          overflow: hidden;
        }
      }
    }
    .nav-icon{
      padding-right: 20px !important;
    }

  }

}


//===============dashboard section ==================

#dashboard{

  .card-1{
    background: $primaryColor;
  }

  .card-2{
    background: darken($primaryColor, 8%);
  }
  .card-3{
    background: darken($primaryColor, 15%);
  }

  .card{
    color: $white;
    border: none;

    @media (max-width: 425px){
      margin: 10px;
    }
    .title{
      display: flex;
      justify-content: center;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .total-count{
      display: flex;
      justify-content: center;
      font-size: 42px;
      font-weight: 500;
    }
  }

  .latest-update{
    display: flex;

    @media (max-width: 425px){
      flex-direction: column;
    }

    .title{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      color: $primaryColor;
      font-size: 22px;
      font-weight: 900;
      text-transform: uppercase;
      border: 1px solid $primaryColor;
      animation: titleAnimate 1s infinite;
    }

    @keyframes  titleAnimate{
      0%{
        font-weight: 100;
      }
      25%{
        font-weight: 400;
      }
      50%{
        font-weight: 800;
      }
      75%{
        font-weight: 600;
      }
      100%{
        font-weight: 300;
      }
    }

    .latest-news{
      flex: 4;
      display: flex;
      justify-content: left;
      margin-left: 20px;
      padding: 5px;
      font-size: 22px;

    }
  }

  .affected-countries{
    p{
      font-size: 24px;
      font-weight: 500;
    }
  }

}

//====================symptoms section=============


.symptoms{
  .symptoms-text{
    p{
      font-size: 20px;
      text-align: justify;
    }
  }

  .people-experience{
    ul{
      li{
        font-size: 20px;
      }
    }
  }
}

//====================prevention section==============

.prevention{
  .vaccine{
    padding: 10px;
    font-size: 28px;
    font-weight: 500;
    color: $white;
    background: $primaryColor;
  }

  .prevention-text{
    .preventions{
      P{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
      }

      ul{
        li{
          font-size: 20px;
        }
      }
    }

  }
}

